<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- mybatis 설정 -->
<configuration>
    <typeAliases>
        <!-- spring01 내의 모든 패키지 사용 가능 -->
        <package name="com.spring01.mapper"/>
    </typeAliases>
</configuration>